.center_button {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .center_button .container {
    height: 7.5vw;
    width: 7.5vw;
    margin: auto;
    display: flex;
    background-image: url("../img/circle.png");
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden; }
    .center_button .container .logo {
      height: 4.25vw;
      width: 3.5vw;
      margin: auto;
      background-image: url("../img/logo.png");
      background-size: contain;
      background-repeat: no-repeat; }
    .center_button .container .shapeshifter_down {
      width: 62.5%;
      height: 62.5%;
      margin: auto;
      animation-duration: 1000ms;
      animation-timing-function: steps(60);
      background-image: url("../img/sprite_60fps_down.svg");
      background-repeat: no-repeat;
      animation-fill-mode: forwards; }
    .center_button .container .shapeshifter_up {
      width: 62.5%;
      height: 62.5%;
      margin: auto;
      animation-duration: 1000ms;
      animation-timing-function: steps(60);
      background-image: url("../img/sprite_60fps_up.svg");
      background-repeat: no-repeat;
      animation-fill-mode: forwards; }
    .center_button .container .play_down, .center_button .container .play_up {
      animation-name: play60; }
    .center_button .container .reverse_down, .center_button .container .reverse_up {
      animation-name: play-60; }

@keyframes play60 {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }
@keyframes play-60 {
  0% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 0%; } }
@media only screen and (max-width: 801px) {
  .center_button {
    z-index: 100; }
    .center_button .container {
      height: 20vw;
      width: 20vw; }
      .center_button .container .shapeshifter_down {
        width: 60%;
        height: 60%;
        background-image: url("../img/mobile_animation/sprite_60fps_down.svg");
        background-size: 6100%; }
      .center_button .container .shapeshifter_up {
        width: 60%;
        height: 60%;
        background-image: url("../img/mobile_animation/sprite_60fps_up.svg");
        background-size: 6100%; }

  @keyframes play60 {
    0% {
      background-position: 0% 0%; }
    100% {
      background-position: 100% 0%; } }
  @keyframes play-60 {
    0% {
      background-position: 100% 0%; }
    100% {
      background-position: 0% 0%; } } }
#multiscroll .ms-left .section1 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/going.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
#multiscroll .ms-left .section2 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/being.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%; }
#multiscroll .ms-left .section3 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/gear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
#multiscroll .ms-left .section4 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/creating.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
#multiscroll .ms-left .section5 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/gathering.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
#multiscroll .ms-left .section6 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/meeting.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
#multiscroll .ms-left .section7 {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/moving.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
#multiscroll .ms-right {
  position: relative; }
  #multiscroll .ms-right .ms-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  #multiscroll .ms-right .container {
    height: 30vw;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #multiscroll .ms-right h1 {
    margin: auto;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    text-transform: uppercase; }
  #multiscroll .ms-right p {
    width: 30vw;
    margin: auto;
    font-size: 1.75vw;
    line-height: 3vw; }
  #multiscroll .ms-right .section1 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec1.png");
    background-repeat: repeat;
    background-size: 15%;
    color: white; }
    #multiscroll .ms-right .section1 .gif_top_left {
      position: absolute;
      top: 3vw;
      left: 3vw;
      transform: rotate(-30deg); }
      #multiscroll .ms-right .section1 .gif_top_left img {
        height: 5vw;
        width: 5vw; }
    #multiscroll .ms-right .section1 .gif_bottom_right {
      position: absolute;
      bottom: 3vw;
      right: 3vw;
      transform: rotate(30deg); }
      #multiscroll .ms-right .section1 .gif_bottom_right img {
        height: 5vw;
        width: 5vw; }
  #multiscroll .ms-right .section2 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec2.png");
    background-repeat: repeat;
    background-size: 15%; }
    #multiscroll .ms-right .section2 .gif_top_right {
      position: absolute;
      top: 2.5vw;
      right: 5vw; }
      #multiscroll .ms-right .section2 .gif_top_right img {
        height: 5vw;
        width: 5vw; }
    #multiscroll .ms-right .section2 .gif_bottom_left {
      position: absolute;
      bottom: 5vw;
      left: 5vw; }
      #multiscroll .ms-right .section2 .gif_bottom_left img {
        height: 5vw;
        width: 5vw; }
  #multiscroll .ms-right .section3 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec3.png");
    background-repeat: repeat;
    background-size: 15%;
    color: white; }
    #multiscroll .ms-right .section3 .gif_top_left {
      position: absolute;
      top: 2.5vw;
      left: 2.5vw;
      transform: rotate(-30deg); }
      #multiscroll .ms-right .section3 .gif_top_left img {
        height: 5vw;
        width: 5vw; }
    #multiscroll .ms-right .section3 .gif_bottom_right {
      position: absolute;
      bottom: 2.5vw;
      right: 5vw;
      transform: rotate(30deg); }
      #multiscroll .ms-right .section3 .gif_bottom_right img {
        height: 5vw;
        width: 5vw; }
  #multiscroll .ms-right .section4 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec4.png");
    background-repeat: repeat;
    background-size: 15%; }
    #multiscroll .ms-right .section4 .gif_top_right {
      position: absolute;
      top: 2.5vw;
      right: 5vw;
      transform: rotate(30deg); }
      #multiscroll .ms-right .section4 .gif_top_right img {
        height: 6vw;
        width: 6vw; }
    #multiscroll .ms-right .section4 .gif_bottom_left {
      position: absolute;
      bottom: 4vw;
      left: 4vw; }
      #multiscroll .ms-right .section4 .gif_bottom_left img {
        height: 7vw;
        width: 7vw; }
  #multiscroll .ms-right .section5 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec5.png");
    background-repeat: repeat;
    background-size: 15%;
    color: white; }
    #multiscroll .ms-right .section5 .gif_top_left {
      position: absolute;
      top: 5vw;
      left: 3vw; }
      #multiscroll .ms-right .section5 .gif_top_left img {
        height: 5vw;
        width: 5vw; }
    #multiscroll .ms-right .section5 .gif_bottom_right {
      position: absolute;
      bottom: 4vw;
      right: 4vw; }
      #multiscroll .ms-right .section5 .gif_bottom_right img {
        height: 5vw;
        width: 5vw; }
  #multiscroll .ms-right .section6 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec6.png");
    background-repeat: repeat;
    background-size: 15%; }
    #multiscroll .ms-right .section6 .gif_top_right {
      position: absolute;
      top: 2.5vw;
      right: 5vw; }
      #multiscroll .ms-right .section6 .gif_top_right img {
        height: 6.5vw;
        width: 6.5vw; }
    #multiscroll .ms-right .section6 .gif_bottom_left {
      position: absolute;
      bottom: 4vw;
      left: 4vw; }
      #multiscroll .ms-right .section6 .gif_bottom_left img {
        height: 7vw;
        width: 7vw; }
  #multiscroll .ms-right .section7 {
    height: 100vh;
    width: 50vw;
    background-image: url("../img/back_sec7.png");
    background-repeat: repeat;
    background-size: 15%;
    color: white; }
    #multiscroll .ms-right .section7 .gif_top_left {
      position: absolute;
      top: 3vw;
      left: 4vw;
      transform: rotate(-40deg); }
      #multiscroll .ms-right .section7 .gif_top_left img {
        height: 5.5vw;
        width: 5.5vw; }
    #multiscroll .ms-right .section7 .gif_bottom_right {
      position: absolute;
      bottom: 4vw;
      right: 4vw; }
      #multiscroll .ms-right .section7 .gif_bottom_right img {
        height: 5vw;
        width: 5vw; }

@media only screen and (max-width: 801px) {
  .mobile_slider {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; }
    .mobile_slider .moving_right {
      transform: translateX(100vw);
      transition-duration: 1s;
      transition-timing-function: ease-in-out; }
    .mobile_slider .moving_left {
      transform: translateX(-100vw);
      transition-duration: 1s;
      transition-timing-function: ease-in-out; }
    .mobile_slider .top {
      height: 50%;
      margin: 0;
      padding: 0;
      position: relative; }
      .mobile_slider .top .sec1 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 90;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/going.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto 100%; }
      .mobile_slider .top .sec2 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 85;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/being.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%; }
      .mobile_slider .top .sec3 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 80;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/gear.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%; }
      .mobile_slider .top .sec4 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 75;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/creating.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover; }
      .mobile_slider .top .sec5 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 70;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/gathering.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%; }
      .mobile_slider .top .sec6 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 65;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/meeting.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%; }
      .mobile_slider .top .sec7 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 60;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/moving.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%; }
    .mobile_slider .bottom {
      height: 50%;
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mobile_slider .bottom .container {
        height: 60vw;
        width: 80vw;
        margin: auto; }
        .mobile_slider .bottom .container h1 {
          margin: auto;
          padding-top: 4vw;
          font-size: 10vw;
          letter-spacing: 0.5vw;
          text-transform: uppercase; }
        .mobile_slider .bottom .container p {
          margin: auto;
          width: 80vw;
          margin: auto;
          font-size: 4vw;
          line-height: 6vw; }
      .mobile_slider .bottom .sec1 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 90;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec1.png");
        background-repeat: repeat;
        background-size: 15%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec1 .gif_top_left {
          position: absolute;
          bottom: 3vw;
          left: 3vw;
          transform: rotate(-30deg); }
          .mobile_slider .bottom .sec1 .gif_top_left img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec1 .gif_bottom_right {
          position: absolute;
          bottom: 3vw;
          right: 3vw;
          transform: rotate(30deg); }
          .mobile_slider .bottom .sec1 .gif_bottom_right img {
            height: 15vw;
            width: 15vw; }
      .mobile_slider .bottom .sec2 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 85;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec2.png");
        background-repeat: repeat;
        background-size: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec2 .gif_top_right {
          position: absolute;
          bottom: 2.5vw;
          right: 5vw; }
          .mobile_slider .bottom .sec2 .gif_top_right img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec2 .gif_bottom_left {
          position: absolute;
          bottom: 5vw;
          left: 5vw; }
          .mobile_slider .bottom .sec2 .gif_bottom_left img {
            height: 15vw;
            width: 15vw; }
      .mobile_slider .bottom .sec3 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 80;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec3.png");
        background-repeat: repeat;
        background-size: 15%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec3 .gif_top_left {
          position: absolute;
          bottom: 2.5vw;
          left: 2.5vw;
          transform: rotate(-30deg); }
          .mobile_slider .bottom .sec3 .gif_top_left img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec3 .gif_bottom_right {
          position: absolute;
          bottom: 2.5vw;
          right: 5vw;
          transform: rotate(30deg); }
          .mobile_slider .bottom .sec3 .gif_bottom_right img {
            height: 15vw;
            width: 15vw; }
      .mobile_slider .bottom .sec4 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 75;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec4.png");
        background-repeat: repeat;
        background-size: 15%;
        background-position: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec4 .gif_top_right {
          position: absolute;
          bottom: 2.5vw;
          right: 5vw;
          transform: rotate(30deg); }
          .mobile_slider .bottom .sec4 .gif_top_right img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec4 .gif_bottom_left {
          position: absolute;
          bottom: 2vw;
          left: 2vw; }
          .mobile_slider .bottom .sec4 .gif_bottom_left img {
            height: 18vw;
            width: 18vw; }
      .mobile_slider .bottom .sec5 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 70;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec5.png");
        background-repeat: repeat;
        background-size: 15%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec5 .gif_top_left {
          position: absolute;
          bottom: 5vw;
          left: 3vw; }
          .mobile_slider .bottom .sec5 .gif_top_left img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec5 .gif_bottom_right {
          position: absolute;
          bottom: 4vw;
          right: 4vw; }
          .mobile_slider .bottom .sec5 .gif_bottom_right img {
            height: 15vw;
            width: 15vw; }
      .mobile_slider .bottom .sec6 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 65;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec6.png");
        background-repeat: repeat;
        background-size: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec6 .gif_top_right {
          position: absolute;
          bottom: 2.5vw;
          right: 5vw; }
          .mobile_slider .bottom .sec6 .gif_top_right img {
            height: 15vw;
            width: 15vw; }
        .mobile_slider .bottom .sec6 .gif_bottom_left {
          position: absolute;
          bottom: 4vw;
          left: 4vw; }
          .mobile_slider .bottom .sec6 .gif_bottom_left img {
            height: 18vw;
            width: 18vw; }
      .mobile_slider .bottom .sec7 {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        width: 100%;
        z-index: 60;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/back_sec7.png");
        background-repeat: repeat;
        background-size: 15%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .mobile_slider .bottom .sec7 .gif_top_left {
          position: absolute;
          bottom: 3vw;
          left: 4vw;
          transform: rotate(0deg); }
          .mobile_slider .bottom .sec7 .gif_top_left img {
            height: 16.5vw;
            width: 16.5vw; }
        .mobile_slider .bottom .sec7 .gif_bottom_right {
          position: absolute;
          bottom: 4vw;
          right: 4vw; }
          .mobile_slider .bottom .sec7 .gif_bottom_right img {
            height: 15vw;
            width: 15vw; } }
@media only screen and (min-height: 750px) {
  #multiscroll .ms-right .section1 .gif_top_left img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section1 .gif_bottom_right img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section2 .gif_top_right {
    top: 3.5vw;
    right: 3vw; }
    #multiscroll .ms-right .section2 .gif_top_right img {
      height: 7.55vw;
      width: 7.5vw; }
  #multiscroll .ms-right .section2 .gif_bottom_left img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section3 .gif_top_left img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section3 .gif_bottom_right img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section4 .gif_top_right {
    top: 4vw;
    right: 3vw; }
    #multiscroll .ms-right .section4 .gif_top_right img {
      height: 8vw;
      width: 8vw; }
  #multiscroll .ms-right .section4 .gif_bottom_left img {
    height: 9vw;
    width: 9vw; }
  #multiscroll .ms-right .section5 .gif_top_left img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section5 .gif_bottom_right img {
    height: 7.5vw;
    width: 7.5vw; }
  #multiscroll .ms-right .section6 .gif_top_right img {
    height: 9vw;
    width: 9vw; }
  #multiscroll .ms-right .section6 .gif_bottom_left img {
    height: 10vw;
    width: 10vw; }
  #multiscroll .ms-right .section7 .gif_top_left img {
    height: 8.5vw;
    width: 8.5vw; }
  #multiscroll .ms-right .section7 .gif_bottom_right img {
    height: 7.5vw;
    width: 7.5vw; } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  position: relative; }

/*# sourceMappingURL=main.css.map */
